body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00b7ff;
}

.index img {
  left: 0;
  width: 50%;
  margin: 0 auto;
  display: block;
  top: 24%;
  position: absolute;
  right: 0;
}
p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  top: 24%;
  position: relative;
}
p a {
  color: #000000;
}
